NEXT_PUBLIC_SUPABASE_URL=https://cuxxoqdopiietcazmyql.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eHhvcWRvcGlpZXRjYXpteXFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjA2MDc0NzMsImV4cCI6MjAzNjE4MzQ3M30.AItjD355QyOYrzOt0UKfwlky51Z-86y35RJSgeZ2jIk
NEXT_PUBLIC_SUPABASE_PROJECT=cuxxoqdopiietcazmyql
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eHhvcWRvcGlpZXRjYXpteXFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMDYwNzQ3MywiZXhwIjoyMDM2MTgzNDczfQ.Q1gZwyJh39lnWDdHBnP_xuUtfo7YiYCR0LDtV5-CvTM